<!DOCTYPE html>
<html>
<head>
<title>About</title>
	<meta charset="utf-8">
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/hero-slider-style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<!--web-font-->
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//web-font-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<script type="text/javascript">
	$(document).ready(function(){		
		$('.flip-container').hover(function(){				
			$(this).addClass('flip');
		},function(){
			$(this).removeClass('flip');
		});
	});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="head_bg">
				<div class="wrap">
					<div class="header">
						<div class="logo">
							<h1><a href="index.html"><img src="images/logo.png" alt=""/></a></h1>
						</div>
						
						<div class="h_right">
							<ul class="menutop">
								<li><a href="services.html">AP</a></li>
								<li><a href="gallery.html">GL</a></li>
								<li><div class="dropdown"> 
								<a href="#">TAX</a>
									 <div class="dropdown-content">
      									<a href="#">Tax report</a>
   									    <a href="#">XXX</a>
      									<a href="#">XXX</a>
    								 </div>
									
 							    </div></li>
							</ul>
	        			</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 about-main">
				<div class="about">
					<h3>Our Team</h3>
				</div>
				<div class="about-slid">
					<div class="abt-slid-text">
						<h2>What we do</h2>
						<p>The standard Lorem Ipsum passage, used sincepassage</p>
					</div>
				</div>
				<div class="team">
					<h3>Our Team Members</h3>
				<div class="team-info" >
						<div class="menumid">
						  <ul>
							  	<li><a href="#" class="active" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".boss">boss</a></li>
								<li><a href="#" data-filter=".technicaln">technical</a></li>
								<li><a href="#" data-filter=".functionnal">functionnal</a></li>
							</ul></div>
						
						<div class="col-md-3 about-team-grids">
							<img src="images/img8.jpg" alt=""/>
							<div class="team-text">
								<h5>JOHN DOE</h5>
								<h6>Founder</h6>
							</div>
						</div>
						<div class="col-md-3 about-team-grids">
							<img src="images/img9.jpg" alt=""/>
							<div class="team-text">
								<h5>JERRY JON</h5>
								<h6>Co-founder</h6>
							</div>
						</div>
						<div class="col-md-3 about-team-grids">
							<img src="images/img10.jpg" alt=""/>
							<div class="team-text">
								<h5>JAME MONY</h5>
								<h6>Designer</h6>
							</div>
						</div>
						<div class="col-md-3 about-team-grids">
							<img src="images/img11.jpg" alt=""/>
							<div class="team-text">
								<h5>JOHN SMITH</h5>
								<h6>Developer</h6>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					
					
				</div>
               </div>
           </div>
 
        			</ul>
				</div>
						<div class="clearfix"> </div>	</div>
			</div></div></div>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/awe-tabs.js"></script>
		
</body>
</html>