<!DOCTYPE html>
<html>
<head>
<title>Datalake</title>
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet"  media="all">

	
<!--web-font-->
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//web-font-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script src="js/echarts.min.js"></script>

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.jqcandlestick.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/core.min.js"></script>	
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>


<!--//end-smoth-scrolling-->
</head>
			<div class="navbar-top">
			<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-comments-o fa-2x" style="line-height:31px;font-weight:500"></i></a>
			</li>
			<li class="dropdown">
	        	<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img id="user-photo" src="images/Luyao.jpg"></a>
	        	<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-angle-right"></i> Profile</a></li>
					<li><a href="testmonials.html"><i class="fa fa-angle-right"></i> Settings</a></li>
					<li><a href="log.html"><i class="fa fa-angle-right"></i> Logout</a></li>	
	        	</ul>
	      	</li>
			</ul>
		    <form class="navbar-form navbar-right">
             <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            </form>
	    </div>
		<div>
			<div class="logo">
				<a href="home" style="color:#23b7e5;padding:5px">Finance</a><a href="home" style="color:#B1E5F5;padding:5px">& Solution</a>
			</div> 
			<div class="header">
				<div class="h_left">	
				<ul class="menutop">
				<div class="dropdown" style="top:-16px" ><a id="main-menu-toggle" class="hidden-phone open"><i class="fa fa-bars"></i></a></div>
				<div class="dropdown">
				  <li>
					<a href="#">AP</a>
				  </li>
				</div>
				<div class="dropdown">
					<li><a href="conso">Conso</a></li>
				</div>
				<div class="dropdown">
					<li><a href="gl">GL</a></li>
				</div>
				<div class="dropdown">
					<li><a href="tax">Tax</a></li>
				</div>
				<div class="dropdown">
					<li><a href="rpa">RPA</a></li>
				</div>
				<div class="dropdown">
					<li><a href="datalake">Datalake</a></li>
				</div>
					
				</ul>
	        			</div>
					</div>
				</div>
				
				
				
				<!--//side-bar-->
				<aside class="sidebar" id="sidebar-left">
				<div id="leftside-navigation">
					<div id="slimScrollDiv">
					<div class="nav1">
						<ul class="nav nav-sidebar">
							<li class="sub-menu">
								<a href="#dashboard">
									<i class="fa fa-laptop" style="color:#5D9CEC"></i><span class="text"> Dashboard</span><span class="fa fa-angle-down pull-right"></span></a>
								<ul>
         						 <li><a href="#">Shrinkage report</a></li>
								 <li><a href="#">Sales / To</a></li>
        						</ul>
							</li>
							 <li class="sub-menu">
								<a href="#about"><i class="fa fa-file-text" style="color:#4FC1E9" ></i><span class="text">  Newsletter</span><span class="fa fa-angle-down pull-right"></span></a>
								 <ul>
         						 <li><a href="news1.html">Sport1</a></li>
								 <li><a href="news2.html">Sport2</a></li>
							     <li><a href="news3.html">Sport3</a></li>
						         <li><a href="news4.html">Sport4</a></li>
        						</ul>
      						</li>
							<li>
								<a href="#team"><i class="fa fa-list-alt" style="color:#48CFAD"></i><span class="text"> F&S team</span> </a>
							</li>
							<li class="sub-menu">
								<a href="#">
									<i class="fa fa-table" style="color:#A0D468"></i><span class="text"> Useful link</span><span class="fa fa-angle-down pull-right"></span></a>
								<ul>
         						 <li><a href="https://support.decathlon.com/dashboard?TENANTID=157222659">Ticket</a></li>
								 <li><a href="#">Website</a></li>
        						</ul>
							</li>
							<li>
								<a href="#contact"><i class="fa fa-signal" style="color:#FFCE54"></i><span class="text"> Contact us</span> </a>
							</li>
							<li>
								<a href="#"><i class="fa fa-briefcase" style="color:#FC6E51"></i><span class="text"> UI Features</span> <span class="fa fa-angle-down pull-right"></span></a>
							</li>
							<li><a href="widgets.html"><i class="fa fa-retweet" style="color:#ED5565"></i><span class="text"> Widgets</span></a></li>
							<li><a href="typography.html"><i class="fa fa-font" style="color:#AC92EC"></i><span class="text"> Typography</span></a></li>
							<li>
								<a href="#"><i class="fa fa-bolt" style="color:#EC87C0"></i><span class="text"> Icons</span> <span class="fa fa-angle-down pull-right"></span></a>
							</li>
							<li><a href="gallery.html"><i class="fa fa-picture-o" style="color:#5D9CEC"></i><span class="text"> Gallery</span></a></li>							
							<li><a href="calendar.html"><i class="fa fa-calendar" style="color:#4FC1E9"></i><span class="text"> Calendar</span></a></li>
						</ul>
					</div>	
						 </div>
					</div></aside>
				<div class="clearfix"> </div>			
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 span10 main" id="content" style="margin-left:15%">
				<div class="about">
					 <h3 style="font-size: 15px">Datalake</h3>
					</div>
		
								<div class="row" style="padding: 25px;margin-left: 10px">
									<h3 ><i class="fa fa-dashboard fa-1x" style="color:#23b7e5"></i>Dashboard</h3>
						 <div class="col-md-10" style="text-align: center"> 
       		<div class="panel panel-widget">
							<div class="panel-title">
							  Lines and points
							  <ul class="panel-tools">
								<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
								<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
								<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
							  </ul>
							</div>
							<div class="panel-body">
									<div id="example" class="jqcandlestick-container">
									<script type="text/javascript">
										 var myChart = echarts.init(document.getElementById('example'));
										var xAxisData = [];
var data1 = [];
var data2 = [];
var data3 = [];
var data4 = [];

for (var i = 0; i < 10; i++) {
    xAxisData.push('Class' + i);
    data1.push((Math.random() * 2).toFixed(2));
    data2.push(-Math.random().toFixed(2));
    data3.push((Math.random() * 5).toFixed(2));
    data4.push((Math.random() + 0.3).toFixed(2));
}

var itemStyle = {
    normal: {
    },
    emphasis: {
        barBorderWidth: 1,
        shadowBlur: 10,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowColor: 'rgba(0,0,0,0.5)'
    }
};

var option = {
    legend: {
        data: ['bar', 'bar2', 'bar3', 'bar4'],
        align: 'left',
        left: 10
    },
    brush: {
        toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
        xAxisIndex: 0
    },
    toolbox: {
        feature: {
            magicType: {
                type: ['stack', 'tiled']
            },
            dataView: {}
        }
    },
    tooltip: {},
    xAxis: {
        data: xAxisData,
        name: 'X Axis',
        silent: false,
        axisLine: {onZero: true},
        splitLine: {show: false},
        splitArea: {show: false}
    },
    yAxis: {
        inverse: true,
        splitArea: {show: false}
    },
    grid: {
        left: 100
    },
    visualMap: {
        type: 'continuous',
        dimension: 1,
        text: ['High', 'Low'],
        inverse: true,
        itemHeight: 200,
        calculable: true,
        min: -2,
        max: 6,
        top: 60,
        left: 10,
        inRange: {
            colorLightness: [0.4, 0.8]
        },
        outOfRange: {
            color: '#bbb'
        },
        controller: {
            inRange: {
                color: '#2f4554'
            }
        }
    },
    series: [
        {
            name: 'bar',
            type: 'bar',
            stack: 'one',
            itemStyle: itemStyle,
            data: data1
        },
        {
            name: 'bar2',
            type: 'bar',
            stack: 'one',
            itemStyle: itemStyle,
            data: data2
        },
        {
            name: 'bar3',
            type: 'bar',
            stack: 'two',
            itemStyle: itemStyle,
            data: data3
        },
        {
            name: 'bar4',
            type: 'bar',
            stack: 'two',
            itemStyle: itemStyle,
            data: data4
        }
    ]
}; myChart.setOption(option);
									</script>
								</div>
							</div>
						</div>
									</div></div>
		
		<div class="col-md-5" style="left:25px">	 <h3><i class="fa fa-team fa-1x" style="color:#23b7e5"></i>Request</h3> <input type="text" class="user" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}" style="background:  url(images/user.jpg) no-repeat 13px 8px;width: 100%;margin-bottom: 10px" ><br />
	<input type="text" class="user" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="background: url(images/mail.jpg) no-repeat 13px 8px;width: 100%;margin-bottom: 10px" ><br />
		<input type="text" class="user" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" style="background: url(images/subject.jpg) no-repeat 13px 8px;width: 100%;margin-bottom: 10px" ><br />
		<textarea  class="user" value="message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}" style="width: 100%;margin-bottom: 10px;padding-left: 10px" rows="8" >message</textarea>
			<a href="index.html" style="text-align: center" ><button class="login" style="margin-top: 5px;width: 100%;">Submit</button></a>
		</div>
									

	</div>
	
	
	</body>
	
	<script type="text/javascript">
	
　　      $(function(){
　　　　	$("#slimScrollDiv").slimScroll({ height: '700px' });
			})
			$('#slimScrollDiv').slimScroll().bind('slimscroll', function(e, pos){
				if(pos=='bottom'){
     // 执行其他逻辑
				}
   			});
			

</script>

</html>