<!DOCTYPE html>
<html><head>
<title>Log</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//web-font-->
	</head>
	<body>
		<div class="loginin" >
	<h3 style="text-align: center;padding:90px 0 0;color:#676a6d">LOGIN</h3>
	<h4 style="padding:20px 100px;font-weight: 300;color:#676a6d;letter-spacing: 1px;">Login with your account</h4>
		<form style="text-align: center">
			<input type="text" class="user" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}" style="background: url(../Finance&Solution/images/user.png) no-repeat 10px 1px;" ><br />
			<input type="password" class="user" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"   style="background: url(../Finance&Solution/images/lock.png) no-repeat 14px 5px;" >
	    </form>
			<div class="checkbox">
                          <label style="letter-spacing: 1px;">
                            <input type="checkbox">remember me
                          </label>
                        </div>
			
			<a href="#" style="font-weight: 300;letter-spacing: 1px;color:#5D9CEC;right: 90px;font-size: 13px;top: 320px;position: absolute;">Forget password?</a>
			<a href="index.html" style="text-align: center" ><button class="login" style="margin-left: 155px;">Login</button></a>
	<h4 style="padding: 30px;font-size: 13px;text-align: center;font-weight: 300;color:#676a6d;letter-spacing: 1px;">Do not have an account?  <a href="#"  style="color:#5D9CEC;">sign up</a></h4>
			</div>
	</body>
</html>