<!DOCTYPE html>
<html>
<head>
<title>Navigation</title>
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet"  media="all">
	
<!--web-font-->
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//web-font-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script src="js/echarts.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.jqcandlestick.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>


<!--//end-smoth-scrolling-->
</head>
<body>
			<div class="head_bg">
				<div class="navbar-top">
				<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding:0px 15px" ><i class="fa fa-comments-o fa-2x" style="line-height: 31px;"></i></a>
				</li>
					<li class="dropdown">
	        		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" style="padding:0px 15px" ><img src="images/1.png"></a>
	        		<ul class="dropdown-menu">
						
						<li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-shield"></i> Lock Profile</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-lock"></i> Logout</a></li>	
	        		</ul>
	      		</li>
			</ul>
				<form class="navbar-form navbar-right">
              <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            </form>
				</div>
				<div class="wrap">
					<div class="logo">
							<a href="index.html" style="color:rgb(6, 217, 149);padding:5px">Finance</a><a href="index.html" style="color:#357B57;padding:5px">& Solution</a>
						</div> 
					<div class="header">
						<div class="h_left">
							<ul class="menutop">
								<div class="dropdown"  >
								<li>
									<a href="gallery.html">AP</a>
									
								</li>
								</div>
								<div class="dropdown"><li>
									<a href="index.html">GL</a>
									
								</li></div>
								<div class="dropdown"><li>
									<a href="#">Tax</a>
									 
								</li></div>
								<div class="dropdown"  >
								<li>
									<a href="services.html">AP</a>
									
								</li>
								</div>
								<div class="dropdown"><li>
									<a href="index.html">GL</a>
									
								</li></div>
								<div class="dropdown"><li>
									<a href="#">Tax</a>
									 
								</li></div>
								<div class="dropdown"  >
								<li>
									<a href="services.html">AP</a>
									
								</li>
								</div>
								<div class="dropdown"><li>
									<a href="index.html">GL</a>
									
								</li></div>
								<div class="dropdown"><li>
									<a href="#">Tax</a>
									 
								</li></div>
							</ul>
	        			</div>
					</div>
				</div>
			<div class="sidebar">
				<div class="top-nav">
					<div class="nav1">
						<ul class=" nav nav-sidebar">
							<li><a href="index.html#dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
							<li><a href="index.html#about"><i class="fa fa-team"></i>Our Team</a></li>
							<li><a href="#navigation.html"><i class="fa fa-project"></i>Team Project</a></li>
							<li><a href="#testmonials"><i class="fa fa-tools"></i>Tools & Links</a></li>
							<li><a href="#contact"><i class="fa fa-contact"></i>Contact</a></li>
							<li><a href="#dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
							<li><a href="#about"><i class="fa fa-team"></i>Our Team</a></li>
							<li><a href="#project"><i class="fa fa-project"></i>Team Project</a></li>
							<li><a href="#testmonials"><i class="fa fa-tools"></i>Tools & Links</a></li>
							<li><a href="#contact"><i class="fa fa-contact"></i>Contact</a></li>
						
					</div>	
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu-icon" ).click(function() {
							 $( ".nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
						<!-- /script-for-menu -->
				</div>
				<div class="clearfix"> </div>				
				
			</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 about-main">
				
						<div class="main-text">
					<div class="about">
					</div>
						<div class="panel">
						<div class="about">
					 <h4><i class="fa fa-dashboard fa-1x" style="color: rgb(6, 217, 149)"></i>Dashboard</h4>
					</div>
						</div>
					</div>
					</div>
				</div>
				
				
				
					</div>
				</body>
</html>