<!DOCTYPE html>
<html>
<head>
<title>RPA</title>
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet"  media="all">

	
<!--web-font-->
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//web-font-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script src="js/echarts.min.js"></script>

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.jqcandlestick.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/jquery.roundabout-1.0.min.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/core.min.js"></script>	
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>


<!--//end-smoth-scrolling-->
</head>
<body style="background-color: #F3F3F3">
	<div class="head_bg">
		<div class="navbar-top">
			<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding:0px 15px" ><i class="fa fa-comments-o fa-2x" style="line-height: 31px;font-weight:500"></i></a>
			</li>
			<li class="dropdown">
	        	<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" style="padding:0px 15px" ><img src="images/1.png"></a>
	        	<ul class="dropdown-menu">
					<li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
					<li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
					<li class="m_2"><a href="#"><i class="fa fa-shield"></i> Lock Profile</a></li>
					<li class="m_2"><a href="#"><i class="fa fa-lock"></i> Logout</a></li>	
	        	</ul>
	      	</li>
			</ul>
		    <form class="navbar-form navbar-right">
             <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            </form>
	    </div>
		<div class="wrap">
			<div class="logo">
				<a href="index.html" style="color:#23b7e5;padding:5px">Finance</a><a href="index.html" style="color:#B1E5F5;padding:5px">& Solution</a>
			</div> 
			<div class="header">
				<div class="h_left">	
				<ul class="menutop">
				<div class="dropdown" style="top:-16px" ><a id="main-menu-toggle" class="hidden-phone open"><i class="fa fa-bars"></i></a></div>
				<div class="dropdown">
				  <li>
					<a href="AP.html">AP</a>
					<!--<div class="dropdown-content" style="width: 100px">
      					<a href="#" style="padding-left:0;padding-right:0;border:#eee;line-height: 20px">Tax report</a>
   						<a href="#"  style="padding-left:0;padding-right:0;border:#eee;line-height: 20px">XXX</a>
      					<a href="#"  style="padding-left:0;padding-right:0;border:#eee;line-height: 20px">XXX</a>
    				</div>-->
				  </li>
				</div>
				<div class="dropdown">
					<li><a href="Conso.html">Conso</a></li>
				</div>
				<div class="dropdown">
					<li><a href=GL.html>GL</a></li>
				</div>
				<div class="dropdown">
					<li><a href="Tax.html">Tax</a></li>
				</div>
				<div class="dropdown">
					<li><a href="RPA.html">RPA</a></li>
				</div>
				<div class="dropdown">
					<li><a href="Datalake.html">Datalake</a></li>
				</div>
					
				</ul>
	        			</div>
					</div>
				</div>
				
				
				
				
	<aside class="sidebar" id="sidebar-left">
				<div class="top-nav sidebar-scroll" id="leftside-navigation">
					<div id="slimScrollDiv">
					<nav>
					<div class="nav1">
						<ul class=" nav nav-sidebar">
							<li class="sub-menu">
								<a href="index.html#dashboard">
									<i class="fa fa-laptop" style="color:#5D9CEC"></i><span class="text"> Dashboard</span><span class="fa fa-angle-down pull-right"></span></a>
								<ul>
         						 <li><a href="#">Shrinkage report</a></li>
								 <li><a href="#">Sales / To</a></li>
        						</ul>
							</li>
							 <li>
								<a href="index.html#about"><i class="fa fa-file-text" style="color:#4FC1E9" ></i><span class="text">  Newsletter</span></a>
      						</li>
							
							<li>
								<a href="index.html#team"><i class="fa fa-list-alt" style="color:#48CFAD"></i><span class="text"> F&S team</span> </a>
							</li>
							<li class="sub-menu">
								<a href="#">
									<i class="fa fa-table" style="color:#A0D468"></i><span class="text"> Useful link</span><span class="fa fa-angle-down pull-right"></span></a>
								<ul>
         						 <li><a href="#">Ticket</a></li>
								 <li><a href="#">Website</a></li>
        						</ul>
							</li>
							<li>
								<a href="index.html#contact"><i class="fa fa-signal" style="color:#FFCE54"></i><span class="text"> Contact us</span> </a>
							</li>
							<li>
								<a href="#"><i class="fa fa-briefcase" style="color:#FC6E51"></i><span class="text"> UI Features</span> <span class="fa fa-angle-down pull-right"></span></a>
								
							</li>
							<li><a href="widgets.html"><i class="fa fa-retweet" style="color:#ED5565"></i><span class="text"> Widgets</span></a></li>
							<li><a href="typography.html"><i class="fa fa-font" style="color:#AC92EC"></i><span class="text"> Typography</span></a></li>
							<li>
								<a href="#"><i class="fa fa-bolt" style="color:#EC87C0"></i><span class="text"> Icons</span> <span class="fa fa-angle-down pull-right"></span></a>
								
							</li>
							<li><a href="gallery.html"><i class="fa fa-picture-o" style="color:#5D9CEC"></i><span class="text"> Gallery</span></a></li>							
							<li><a href="calendar.html"><i class="fa fa-calendar" style="color:#4FC1E9"></i><span class="text"> Calendar</span></a></li>
						</ul>
					</div>	
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu-icon" ).click(function() {
							 $( ".nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
					<!-- /script-for-menu --></nav></div>
					</div></aside>
				<div class="clearfix"> </div>				
				
			</div>
				<div class="clearfix"> </div>				
				
			</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 span10 main" id="content" style="margin-left:15%">
					<div class="about">
					 <h3 style="font-size: 15px"></i>RPA</h3>
					</div>
					<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 about-main-function">
				
						<div class="main-text">
			 
						
						 <div class="row" style="margin:20px 0">
										  
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1">
 						<img src="images/e-commerce.png" alt=""/>
                      <h5>E-Commerce</h5>
						  </a>
                      </div>
                  </div> 
                 
                 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1">
 						<img src="images/IT.png" alt=""/>
                      <h5>IT</h5>
						  </a>
                      </div>
                  </div> 
						
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1">
 						<img src="images/supply.png" alt=""/>
                      <h5>Supply</h5>
						  </a>
                      </div>
                  </div> 
					
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1">
 						<img src="images/store.png" alt=""/>
                      <h5>Store</h5>
						  </a>
                      </div>
                  </div> 
				
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1">
 						<img src="images/treasury.png" alt=""/>
                      <h5>Treasury</h5>
						  </a>
                      </div>
                  </div> 
				
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1">
 						<img src="images/DII.png" alt=""/>
                      <h5>DII Finance</h5>
						  </a>
                      </div>
                  </div> 
							 
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding: 0;">
					  <a href="#">
                      <div class="div-square shadow1" >
 						<img src="images/DSS.png" alt=""/>
                      <h5>DSS Finance</h5>
						  </a>
                      </div>
                  </div> 	 
					</div>
				
</div></div>
				
				
					</div>
				</body>
<script type="text/javascript">
	
　　      $(function(){
　　　　	$("#slimScrollDiv").slimScroll({ height: '700px' });
			})
			$('#slimScrollDiv').slimScroll().bind('slimscroll', function(e, pos){
				if(pos=='bottom'){
     // 执行其他逻辑
				}
   			});
			

</script>

</html>