<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet"  media="all">
	
<!--web-font-->
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//web-font-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script src="js/echarts.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.jqcandlestick.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript" src="js/jquery.roundabout-1.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>


<!--//end-smoth-scrolling-->
</head>
<body>
			<div class="head_bg">
				<div class="navbar-top">
				<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="padding:0px 15px" ><i class="fa fa-comments-o fa-2x" style="line-height: 31px;"></i></a>
				</li>
					<li class="dropdown">
	        		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" style="padding:0px 15px" ><img src="images/1.png"></a>
	        		<ul class="dropdown-menu">
						
						<li class="m_2"><a href="#"><i class="fa fa-user"></i> Profile</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-wrench"></i> Settings</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-shield"></i> Lock Profile</a></li>
						<li class="m_2"><a href="#"><i class="fa fa-lock"></i> Logout</a></li>	
	        		</ul>
	      		</li>
			</ul>
				<form class="navbar-form navbar-right">
              <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            </form>
				</div>
				<div class="wrap">
					<div class="logo">
							<a href="index.html" style="color:rgb(6, 217, 149);padding:5px">Finance</a><a href="index.html" style="color:#357B57;padding:5px">& Solution</a>
						</div> 
					<div class="header">
						<div class="h_left">
							<ul class="menutop">
								<div class="dropdown">
								<li>
									<a href="AP.html">AP</a>
									<div class="dropdown-content" style="width: 100px">
      									<a href="#" style="padding-left:0;padding-right:0;border:#eee;line-height: 20px">Tax report</a>
   									    <a href="#"  style="padding-left:0;padding-right:0;border:#eee;line-height: 20px">XXX</a>
      									<a href="#"  style="padding-left:0;padding-right:0;border:#eee;line-height: 20px">XXX</a>
    								 </div>
								</li>
								</div>
								<div class="dropdown"><li>
									<a href="index.html">GL</a>
									
								</li></div>
								<div class="dropdown"><li>
									<a href="#">Tax</a>
									 
								</li></div>
								<div class="dropdown"  >
								<li>
									<a href="services.html">AP</a>
									
								</li>
								</div>
								<div class="dropdown"><li>
									<a href="index.html">GL</a>
								
								</li></div>
								<div class="dropdown"><li>
									<a href="#">Tax</a>
									
								</li></div>
								<div class="dropdown"  >
								<li>
									<a href="services.html">AP</a>
									
								</li>
								</div>
								<div class="dropdown"><li>
									<a href="index.html">GL</a>
									
								</li></div>
								<div class="dropdown"><li>
									<a href="#">Tax</a>
									
								</li></div>
							</ul>
	        			</div>
					</div>
				</div>
			<div class="sidebar">
				<div class="top-nav">
					<div class="nav1">
						<ul class=" nav nav-sidebar">
							<li><a href="#dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
							<li><a href="#about"><i class="fa fa-team"></i>Our Team</a></li>
							<li><a href="navigation.html"><i class="fa fa-project"></i>Navigation</a></li>
							<li><a href="testmonials.html"><i class="fa fa-tools"></i>Tools & Links</a></li>
							<li><a href="#contact"><i class="fa fa-contact"></i>Contact</a></li>
							<li><a href="#dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
							<li><a href="#about"><i class="fa fa-team"></i>Our Team</a></li>
							<li><a href="#project"><i class="fa fa-project"></i>Team Project</a></li>
							<li><a href="#testmonials"><i class="fa fa-tools"></i>Tools & Links</a></li>
							<li><a href="#contact"><i class="fa fa-contact"></i>Contact</a></li>
					</div>	
					<!-- script-for-menu -->
						 <script>
						   $( "span.menu-icon" ).click(function() {
							 $( ".nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
						</script>
						<!-- /script-for-menu -->
				</div>
				<div class="clearfix"> </div>				
				
			</div>
			<!--//side-bar-->
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 about-main" id="dashboard">
					<div class="main-text">
					<div class="about">
					 <h3><i class="fa fa-dashboard fa-1x" style="color: rgb(6, 217, 149)"></i>Dashboard</h3>
					</div>
						<div class="row four-grids">
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-book"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>Tickets <span>Answered</span></h3>
								<p>452</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-rocket"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>New <span>Projects</span></h3>
								<p>745</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-bar-chart"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>Our <span>Status</span></h3>
								<p>125</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-user"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>Daily <span>Visitors</span></h3>
								<p>7462</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
							<div class="clearfix"> </div></div>
			
						<div class="row">
						 <div class="col-md-5">
       		<div class="panel panel-widget">
							<div class="panel-title">
							  Lines and points
							  <ul class="panel-tools">
								<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
								<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
								<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
							  </ul>
							</div>
							<div class="panel-body">
								<div class="lines-points">
									<div id="example-4" class="jqcandlestick-container">
									
									<script type="text/javascript">
										  // Generate data
										  
										  var data = [];
										  
										  var time = new Date('Dec 1, 2013 12:00').valueOf();
										  
										  var h = Math.floor(Math.random() * 100);
										  var l = h - Math.floor(Math.random() * 20);
										  var o = h - Math.floor(Math.random() * (h - l));
										  var c = h - Math.floor(Math.random() * (h - l));

										  var v = Math.floor(Math.random() * 1000);
										  
										  for (var i = 0; i < 30; i++) {
											data.push([time, o, h, l, c, v]);
											h += Math.floor(Math.random() * 10 - 5);
											l = h - Math.floor(Math.random() * 20);
											o = h - Math.floor(Math.random() * (h - l));
											c = h - Math.floor(Math.random() * (h - l));
											v += Math.floor(Math.random() * 100 - 50);
											time += 30 * 60000; // Add 30 minutes
										  }
										</script>
									<script type="text/javascript">
									  $(function() {
										$('#example-4').jqCandlestick({
										  data: data,
										  theme: 'light',
										  series: [{
											type: 'line',
										  }, {
											type: 'point',
										  }],
										});
									  });
									</script>
								</div>
							</div>
						</div>
							 </div></div>
					
						
							<div class="col-md-7">
							<div class="panel panel-widget">
								<div class="panel-title">
							  Bar
							  <ul class="panel-tools">
								<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
								<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
								<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
							  </ul>
							</div>
		
								<div class="panel-body">
									<div id="bar" class="jqcandlestick-container">
									<script type="text/javascript">
									var myChart = echarts.init(document.getElementById('bar'));
									var xAxisData = [];
var data1 = [];
var data2 = [];
var data3 = [];
var data4 = [];

for (var i = 0; i < 10; i++) {
    xAxisData.push('Class' + i);
    data1.push((Math.random() * 2).toFixed(2));
    data2.push(-Math.random().toFixed(2));
    data3.push((Math.random() * 5).toFixed(2));
    data4.push((Math.random() + 0.3).toFixed(2));
}

var itemStyle = {
    normal: {
    },
    emphasis: {
        barBorderWidth: 1,
        shadowBlur: 10,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowColor: 'rgba(0,0,0,0.5)'
    }
};

var option = {
    backgroundColor: '#fff',
    legend: {
        data: ['bar', 'bar2', 'bar3', 'bar4'],
        align: 'left',
        left: 10
    },
    brush: {
        toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
        xAxisIndex: 0
    },
    toolbox: {
        feature: {
            magicType: {
                type: ['stack', 'tiled']
            },
            dataView: {}
        }
    },
    tooltip: {},
    xAxis: {
        data: xAxisData,
        name: 'X Axis',
        silent: false,
        axisLine: {onZero: true},
        splitLine: {show: false},
        splitArea: {show: false}
    },
    yAxis: {
        inverse: true,
        splitArea: {show: false}
    },
    grid: {
        left: 100
    },
    visualMap: {
        type: 'continuous',
        dimension: 1,
        text: ['High', 'Low'],
        inverse: true,
        itemHeight: 200,
        calculable: true,
        min: -2,
        max: 6,
        top: 60,
        left: 10,
        inRange: {
            colorLightness: [0.4, 0.8]
        },
        outOfRange: {
            color: '#bbb'
        },
        controller: {
            inRange: {
                color: '#2f4554'
            }
        }
    },
    series: [
        {
            name: 'bar',
            type: 'bar',
            stack: 'one',
            itemStyle: itemStyle,
            data: data1
        },
        {
            name: 'bar2',
            type: 'bar',
            stack: 'one',
            itemStyle: itemStyle,
            data: data2
        },
        {
            name: 'bar3',
            type: 'bar',
            stack: 'two',
            itemStyle: itemStyle,
            data: data3
        },
        {
            name: 'bar4',
            type: 'bar',
            stack: 'two',
            itemStyle: itemStyle,
            data: data4
        }
    ]
};

myChart.on('brushSelected', renderBrushed);

function renderBrushed(params) {
    var brushed = [];
    var brushComponent = params.batch[0];

    for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {
        var rawIndices = brushComponent.selected[sIdx].dataIndex;
        brushed.push('[Series ' + sIdx + '] ' + rawIndices.join(', '));
    }

    myChart.setOption({
        title: {
            backgroundColor: '#333',
            text: 'SELECTED DATA INDICES: \n' + brushed.join('\n'),
            bottom: 0,
            right: 0,
            width: 100,
            textStyle: {
                fontSize: 12,
                color: '#fff'
            }
        }
    });
}


										 myChart.setOption(option);
									</script>
								</div>	
								</div></div></div>
					
						</div></div></div>
				<!--banner-->
				<!--<div class="banner">
					
					<div class="jumbotron banner-text">
						<h3>Finance & Solution</h3>
						<p>introduction</p>
						<a class="btn btn-primary" href="#" role="button">Read more</a>
					</div></div>-->
				<!--//banner-->
				<!--main-text-->
				<!--<div class="main-text">
						<div class="col-md-4 offer-grids-info">
							<img src="images/img2.jpg" alt=""/>	
							<div class="offer-text">
								<h5></h5>
							</div>
						</div>
						<div class="col-md-4 offer-grids-info">
							<img src="images/img3.jpg" alt=""/>	
							<div class="offer-text">
								<h5></h5>
							</div>
						</div>
						<div class="col-md-4 offer-grids-info">
							<img src="images/img13.jpg" alt=""/>	
							<div class="offer-text">
								<h5></h5>
							</div>	
						</div>
						<div class="col-md-6 offer-grids-info off-grid2">
							<img src="images/img4.jpg" alt=""/>	
							<div class="offer-text">
								<h5></h5>
							</div>
						</div>
						<div class="col-md-6 offer-grids-info off-grid2">
							<img src="images/img5.jpg" alt=""/>							
							<div class="offer-text">
								<h5></h5>
							</div>
						</div>
					<div class="clearfix"> </div></div>-->
									
					<!--features-->
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 about-main" id="about">
					<div class="offer-grids"><div class="main-text">
					<div class="about">
					 <h3><i class="fa fa-team fa-1x" style="color: rgb(6, 217, 149)"></i>Our Team</h3>
					</div>
						
						<div class="in exhibition_hall">
							<ul id="myRoundabout">
								<li><img src="images/img1.png" alt=""></li>
								<li><img src="images/img2.png" alt=""></li>
								<li><img src="images/img3.png" alt=""></li>
								<li><img src="images/img3.png" alt=""></li>
							</ul>
							<ul id="dots" class="switcher jQ_sliderSwitch">
								<li><a href=""></a></li>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
								<li><a href=""></a></li>
							</ul>
							
						 	
							<div class="clear"></div>
			           </div></div></div>
				<!--<div class="about-slid">
					<div class="abt-slid-text">
						<h2>What we do</h2>
						<p>The standard Lorem Ipsum passage, used sincepassage</p>
					</div>
				</div>-->
					
				
					<div class="offer-grids"><div class="main-text" id="member">
				<div class="team">
					<div class="team-text h3">team members</div>
				<div class="team-info" >
						<div class="col-sm-3 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img src="images/img8.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Developper</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
						<div class="col-sm-3 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img src="images/img9.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Developper</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
						<div class="col-sm-3 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img src="images/img10.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Developper</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
						<div class="col-sm-3 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                    <img src="images/img11.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Developper</a>
                                                        <span>Subtitle</span>
                                                    </div>
                                                </div>
                                            </div>
		
							<input id="member_input" type="file" accept="image/*"/>
							<label for="member_input" id="img_label">File Choose<i class="fa fa-search-plus fa-lg"></i></label>
						
						<div class="clearfix"> </div>
					</div>
					
						</div></div>
					</div><!--features-->
				</div>
				
					
				</div>
			</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"> </script>

	<script src="js/jquery.singlePageNav.min.js"></script>  
				
				
	<script type="text/javascript">
		 $('.jQ_sliderSwitch li').on('click', function() {
        var $elem = $(this);
        var index = $elem.index();
        $('#myRoundabout').roundabout('animateToChild', index);
        return false;
    });
		 $('#img-slider').roundabout({  })
			 .bind({
			 animationEnd: function(e) {
            var index = $('#img-slider').roundabout('getChildInFocus');
            $('.jQ_sliderSwitch li').removeClass('active');
            $('.jQ_sliderSwitch li').eq(index).addClass('active');
        }
    });

	$(document).ready(function() {
		$('#myRoundabout').roundabout({
			 shape: 'square',
			 minScale: 0.93, // tiny!
			 maxScale: 1, // tiny!
			 easing:'easeOutExpo',
			 clickToFocus:'true',
			 focusBearing:'0',
			 duration:800,
			 reflect:true
		});
	});
		
		
		$("#membere_input").on("change", function(e) {
			var file = e.target.files[0]; //获取图片资源
			if (!file.type.match('image.*')) {
				return false;
			}
			var reader = new FileReader();
			reader.readAsDataURL(file);
			
			reader.onload = function(arg) {
				var member = document.getElementById("member");
				
			
			}});
			
			
			
			
			
		
			
		$("#img_input").on("change", function(e) {
			var file = e.target.files[0]; //获取图片资源
			if (!file.type.match('image.*')) {
				return false;
			}
			var reader = new FileReader();
			reader.readAsDataURL(file); // 读取文件
		
			reader.onload = function(arg) {
				var roundabout = document.getElementById("myRoundabout"); 
				var dots = document.getElementById("dots");
				var newnode = document.createElement("li");
				newnode.innerHTML ='<img src="' + arg.target.result + '" alt=""/>';
				var newdots = document.createElement("li");
				newdots.innerHTML = roundabout.appendChild(newnode);
				dots.appendChild  ;
				
				$('#myRoundabout').roundabout({
			 	shape: 'square',
			 	minScale: 0.93, // tiny!
			 	maxScale: 1, // tiny!
			 	easing:'easeOutExpo',
			 	clickToFocus:'true',
			 	focusBearing:'0',
			 	duration:800,
			 	reflect:true
		});
			}
			
		});
	</script>
				
</body>
</html>>