<!DOCTYPE html>
<html>
<head>
<title>Settings</title>
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet"  media="all">

	
<!--web-font-->
	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//web-font-->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Plot Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script src="js/echarts.min.js"></script>
<script type="text/javascript" src="js/team.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.jqcandlestick.min.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/jquery.slimscroll.min.js"></script>
<script src="js/core.min.js"></script>	
<script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>


<!--//end-smoth-scrolling-->
</head>
<body  style="background-color: #F3F3F3">
				<div class="navbar-top">
			<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-comments-o fa-2x" style="line-height:31px;font-weight:500"></i></a>
			</li>
			<li class="dropdown">
	        	<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img id="user-photo" src="images/Luyao.jpg"></a>
	        	<ul class="dropdown-menu">
					<li><a href="#"><i class="fa fa-angle-right"></i> Profile</a></li>
					<li><a href="testmonials.html"><i class="fa fa-angle-right"></i> Settings</a></li>
					<li><a href="log.html"><i class="fa fa-angle-right"></i> Logout</a></li>	
	        	</ul>
	      	</li>
			</ul>
		    <form class="navbar-form navbar-right">
             <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
            </form>
	    </div>
		<div>
			<div class="logo">
				<a href="home" style="color:#23b7e5;padding:5px">Finance</a><a href="index.html" style="color:#B1E5F5;padding:5px">& Solution</a>
			</div> 
			<div class="header">
				<div class="h_left">	
				<ul class="menutop">
				<div class="dropdown" style="top:-16px" ><a id="main-menu-toggle" class="hidden-phone open"><i class="fa fa-bars"></i></a></div>
				<div class="dropdown">
				  <li>
					<a href="AP.html">AP</a>
				  </li>
				</div>
				<div class="dropdown">
					<li><a href="Conso.html">Conso</a></li>
				</div>
				<div class="dropdown">
					<li><a href="GL.html">GL</a></li>
				</div>
				<div class="dropdown">
					<li><a href="Tax.html">Tax</a></li>
				</div>
				<div class="dropdown">
					<li><a href="RPA.html">RPA</a></li>
				</div>
				<div class="dropdown">
					<li><a href="Datalake.html">Datalake</a></li>
				</div>
					
				</ul>
	        			</div>
					</div>
				</div>
				
				
				
				<!--//side-bar-->
				<aside class="sidebar" id="sidebar-left">
				<div id="leftside-navigation">
					<div id="slimScrollDiv">
					<div class="nav1">
						<ul class="nav nav-sidebar">
							<li class="sub-menu">
								<a href="#dashboard">
									<i class="fa fa-laptop" style="color:#5D9CEC"></i><span class="text"> Dashboard</span><span class="fa fa-angle-down pull-right"></span></a>
								<ul>
         						 <li><a href="#">Shrinkage report</a></li>
								 <li><a href="#">Sales / To</a></li>
        						</ul>
							</li>
							 <li class="sub-menu">
								<a href="#about"><i class="fa fa-file-text" style="color:#4FC1E9" ></i><span class="text">  Newsletter</span><span class="fa fa-angle-down pull-right"></span></a>
								 <ul>
         						 <li><a href="news1.html">Sport1</a></li>
								 <li><a href="news2.html">Sport2</a></li>
							     <li><a href="news3.html">Sport3</a></li>
						         <li><a href="news4.html">Sport4</a></li>
        						</ul>
      						</li>
							<li>
								<a href="#team"><i class="fa fa-list-alt" style="color:#48CFAD"></i><span class="text"> F&S team</span> </a>
							</li>
							<li class="sub-menu">
								<a href="#">
									<i class="fa fa-table" style="color:#A0D468"></i><span class="text"> Useful link</span><span class="fa fa-angle-down pull-right"></span></a>
								<ul>
         						 <li><a href="https://support.decathlon.com/dashboard?TENANTID=157222659">Ticket</a></li>
								 <li><a href="#">Website</a></li>
        						</ul>
							</li>
							<li>
								<a href="#contact"><i class="fa fa-signal" style="color:#FFCE54"></i><span class="text"> Contact us</span> </a>
							</li>
							<li>
								<a href="#"><i class="fa fa-briefcase" style="color:#FC6E51"></i><span class="text"> UI Features</span> <span class="fa fa-angle-down pull-right"></span></a>
							</li>
							<li><a href="widgets.html"><i class="fa fa-retweet" style="color:#ED5565"></i><span class="text"> Widgets</span></a></li>
							<li><a href="typography.html"><i class="fa fa-font" style="color:#AC92EC"></i><span class="text"> Typography</span></a></li>
							<li>
								<a href="#"><i class="fa fa-bolt" style="color:#EC87C0"></i><span class="text"> Icons</span> <span class="fa fa-angle-down pull-right"></span></a>
							</li>
							<li><a href="gallery.html"><i class="fa fa-picture-o" style="color:#5D9CEC"></i><span class="text"> Gallery</span></a></li>							
							<li><a href="calendar.html"><i class="fa fa-calendar" style="color:#4FC1E9"></i><span class="text"> Calendar</span></a></li>
						</ul>
					</div>	
						 </div>
					</div></aside>
				<div class="clearfix"> </div>			
	
	
			<!--//side-bar-->
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 span10 main" id="content" style="margin-left:15%">
	
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 about-main span10" id="about">
					<div class="offer-grids">
				
					 <h3><i class="fa fa-newspaper fa-1x" style="color:#23b7e5;font-weight: 500"></i>Newsletter</h3>
					
						<div id="banner-tab" class="flexslider">
    <div class="slideBox"><a href="sport.html">
        <ul class="slides">
            <li><img width="960" height="540" src="images/sport1.jpg"></li>
            <li><img width="960" height="540" src="images/sport2.jpg"></li>
            <li><img width="960" height="540" src="images/sport3.jpg"></li>
            <li><img width="960" height="540" src="images/sport5.jpg"></li>
        </ul></a>
    </div>

    <ul class="flex-direction-nav">
        <li disabled="true" class="prev"><</li>
        <li class="next">></li>
    </ul>
    <ul id="bannerCtrl">
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
    </ul>
</div>
							<div class="news-content-list">
                    <table>
                        <thead>
                            <tr class="newhead">
                                <th class="newhead-id">ID</th>
                                <th class="newhead-title">title</th>
                                <th class="newhead-content">content</th>
                                <th class="newhead-imgurl">imgurl</th>
                                <th class="operation">action</th>
                            </tr>
                        </thead>
                        <tbody id="news-content" class="news-content">
							
                        </tbody>

                    </table>
								<button class="button" style="margin: 30px;border: 0;"/>add news</button>
                </div>
					<div id="add-news" class="floatup"  style="display:none" >
							<div class="addnews" style="height: auto">
								<span class="close" id="close" style="opacity: 1"></span>
								<div class="upload-top"><h3 style="text-align: center;font-size: 27px;padding-top:20px;color:white">Add a news</h3></div>
							<input type="text" class="add-news" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'title';}"><br />
								<textarea value="content" class="add-news" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'content';}" rows="8" >content</textarea><br/>
								<input id="img_input" type="file" accept="image/*"/><label for="img_input" class="file_label" style="margin: 15px 15%">news image</label><br>
								<button class="login" style="width: 30%;margin: 10px 10%;">confirm</button>
								<button class="login" style="width: 30%;margin: 10px 10%;position:absolute">cancel</button>
								<div id="newsimg"></div>
							</div>
							</div>
					</div>
							<div class="clear">
							</div></div>
	
	
				<div class="col-sm-9 col-sm-offset-3 col-md-10 about-main span10" id="team">
					<div class="offer-grids">
				
					 <h3><i class="fa fa-team fa-1x" style="color:#23b7e5"></i>F&S Team</h3>
		<div class="cd-gallery-container">
		<nav class="cd-filter">
			<ul>
				<li class="placeholder"> 
					<a data-type="Manager" href="#0">Manager</a> <!-- selected option on mobile -->
				</li> 

				<li>
					<a class="selected" data-type="Manager" href="#0">Manager</a>
				</li>

				<li>
					<a data-type="support" href="#0">Support</a>
					
				</li>
				
				<li>
					<a data-type="IT" href="#0">IT Finance</a>
				</li>

				<li>
					<a data-type="digital" href="#0">Digital</a>
				</li>
			</ul>
		</nav>
			
		<ul class="cd-gallery cd-container">
			<li>
				<ul class="cd-item-wrapper">
					<li data-type="support" class="is-hidden ">
					<a id="cretail" >Retail</a>
					<a id="cCP" >Country opening</a>
					<a id="cclifou" >Clifou</a>
					</li>
					
					<li data-type="Manager" class="is-visible col-sm-3 appsDevelopment">
                                                <div class="portfolio_single_content">
                                                   <img src="images/Yin LI.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Li YIN</a>
                                                        <span>Digital Transformation<br />Financial Manager<br />Country Opening</span>
                                                    </div>
                                                </div>
					</li>
					<li  data-type="support" class="is-hidden col-sm-3 appsDevelopment CP" style="padding-top:14px" >
                                                <div class="portfolio_single_content">
                                                    <img src="images/Travis.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Travis ZHOU</a>
                                                        <span>SAP expert<br />Country opening<br />Supply finance expert</span>
                                                    </div>
                                                </div>
					</li>

					<li data-type="IT" class="is-hidden col-sm-3 appsDevelopment">
						<div class="portfolio_single_content">
                                                    <img src="images/Amy CHEN.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Amy CHEN</a>
                                                        <span>IT Finance leader<br />Finance flow responsible</span>
                                                    </div>
                                                </div>
					</li>
					<li data-type="digital" class="is-hidden col-sm-3 appsDevelopment">
						<div class="portfolio_single_content">
                                                    <img src="images/Effy.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Effy ZHANG</a>
                                                        <span>Digital finance<br/>RPA expert<br/>Finance Datalake<br/>Retail finance support</span>
                                                    </div>
                                                </div>
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="support" class="is-hidden col-sm-3 appsDevelopment retail">
						<div class="portfolio_single_content">
                                                    <img src="images/Huiyun.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Huiyun ZHI</a>
                                                        <span>Retail finance expert<br />Queen of shrinkage<br />Stock / Margin / Shrinkage<br />Eone expert<br />Country opening</span>
                                                    </div>
                                                </div>
					</li>

					<li data-type="IT" class="is-hidden col-sm-3 appsDevelopment">
						 <div class="portfolio_single_content">
                                                    <img src="images/Yonglong.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Yonglong MA</a>
                                                        <span>IT Finance</span>
                                                    </div>
                                                </div>
					</li>
					
					<li data-type="digital" class="is-hidden col-sm-3 appsDevelopment">
						<div class="portfolio_single_content">
                                                    <img src="images/Jarvis.png" alt=""/>
                                                    <div>
                                                        <a href="#">Jarvis CHEN</a>
                                                        <span>Full-end dev<br />RPA dev</span>
                                                    </div>
                                                </div>
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li  data-type="support" class="is-hidden col-sm-3 appsDevelopment CP" >
						<div class="portfolio_single_content">
                                                    <img src="images/Judy.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Judy TAO</a>
                                                        <span>PEX&GEX expert(Asia)<br>Cashing up flow(Asia)<br/>Ordmax<br>Country opening</span>
                                                    </div>
                                                </div>
					</li>
					<li data-type="IT" class="is-hidden col-sm-3 appsDevelopment">
						 <div class="portfolio_single_content">
                                                   <img src="images/Sofia.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Sofia YANG</a>
                                                        <span>Negotiation leader</span>
                                                    </div>
                                                </div>
					</li>
				    <li data-type="digital" class="is-hidden col-sm-3 appsDevelopment">
						<div class="portfolio_single_content">
                                                    <img src="images/Luyao.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Luyao LYU</a>
                                                        <span>Front dev<br />RPA dev</span>
                                                    </div>
                                                </div>
					</li>
					
				</ul>
			</li>
			
			<li>
				<ul class="cd-item-wrapper">
					<li  data-type="support" class="is-hidden col-sm-3 appsDevelopment clifou">
						<div class="portfolio_single_content">
                                                    <img src="images/James.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">James DING</a>
                                                        <span>Prod finance expert<br/>Prod.com expert<br/>Clifou expert<br/>E-invoice PMO</span>
                                                    </div>
                                                </div>
					</li>

					
				</ul>
			</li>
			
			<li>
				<ul class="cd-item-wrapper">
					<li  data-type="support" class="is-hidden col-sm-3 appsDevelopment clifou">
						<div class="portfolio_single_content">
                                                    <img src="images/Simon.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Simon LASSALAS</a>
                                                        <span>Prod finance expert<br/>Clifou expert</span>
                                                    </div>
                                                </div>
					</li>

					
				</ul>
			</li>
			<li>
				<ul class="cd-item-wrapper">
					<li data-type="support" class="is-hidden col-sm-3 appsDevelopment retail"> 
						<div class="portfolio_single_content">
                                                    <img src="images/Lily.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Lily LV</a>
                                                        <span>Finance support<br/>Retail</span>
                                                    </div>
                                                </div>
					</li>

					
				</ul>
			</li>
			<li>
				<ul class="cd-item-wrapper">
					<li data-type="support" class="is-hidden col-sm-3 appsDevelopment retail">
						<div class="portfolio_single_content">
                                                    <img src="images/Yiwen.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Yiwen ZHANG</a>
                                                        <span>Prod finance expert<br/>Finance support<br/>Eone expert</span>
                                                    </div>
                                                </div>
					</li>

					
				</ul>
			</li>
			<li>
				<ul class="cd-item-wrapper">
					<li  data-type="support" class="is-hidden col-sm-3 appsDevelopment CP">
						<div class="portfolio_single_content">
                                                    <img src="images/Dean.jpg" alt=""/>
                                                    <div>
                                                        <a href="#">Dean ZHENG</a>
                                                        <span>Country opening<br/>Retail finance<br/>Negotiation leader</span>
                                                    </div>
                                                </div>
					</li>

					
				</ul>
			</li>
			
		</ul> <!-- cd-gallery -->
	</div>
						<div id="add-member" class="floatup"  style="display:none" >
							<div class="addmember" style="height: auto">
								<span class="close" id="close" style="opacity: 1"></span>
								<div class="upload-top"><h3 style="text-align: center;font-size: 27px;padding-top:20px;color:white">Add a member</h3></div>
							<input type="text" class="add-news" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'title';}"><br />
								<textarea value="content" class="add-news" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'content';}" rows="8" >content</textarea><br/>
								<input id="img_input" type="file" accept="image/*"/><label for="img_input" class="file_label" style="margin: 15px 15%">news image</label><br>
								<button class="login" style="width: 30%;margin: 10px 10%;">confirm</button>
								<button class="login" style="width: 30%;margin: 10px 10%;position:absolute">cancel</button>
								<div id="newsimg"></div>
							</div>
							</div>
						<div class="clearfix"> </div>
					</div>
					
						</div>

	
	</div>
				
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"> </script>

	<script src="js/jquery.singlePageNav.min.js"></script>  
				
				
<script src="js/banner.js"></script>
    <script  src="js/index.js"></script>
	<script type="text/javascript">

	
						$(function(){
        var bannerSlide = new slide($("#banner-tab"), {
            event: "hover",
            auto: false,
            controller: $('#bannerCtrl')
        });

        $(".prev").click(function () {
            bannerSlide.prev();
        });

        $(".next").click(function () {
            bannerSlide.next();
        })

    })
			
			
　　      $(function(){
　　　　	$("#slimScrollDiv").slimScroll({ height: '700px' });
			})
			$('#slimScrollDiv').slimScroll().bind('slimscroll', function(e, pos){
				if(pos=='bottom'){
     // 执行其他逻辑
				}
   			});
			
		$(document).ready(function(){
			$(".button").click(function(){
				$("#add-news").show();});
			
				});
 
			$(document).ready(function(){
			$("#close").click(function(){
				$("#add-news").hide();});
			
				});
		
			
		$("#img_input").on("change", function(e) {

  var file = e.target.files[0]; //获取图片资源

  // 只选择图片文件
  if (!file.type.match('image.*')) {
    return false;
  }

  var reader = new FileReader();

  reader.readAsDataURL(file); // 读取文件

  // 渲染文件
  reader.onload = function(arg) {
debugger;
    var img = '<img class="preview" src="' + arg.target.result + '" alt="preview"/>';
    $("newsimg").empty().append(img);
  }
});
			
	</script>


<!--<script type="text/javascript">
	$.ajax({ 
		type:"GET", 
		url:"http://10.66.58.8:8080/api/news/getAll",
		dataType:"json", 
		cache: false,
           processData: false,
           contentType: false,
		}).success(function (data) {
		for(var i=0;i<data.data.length;i++){
		$("#news-content").append("<tr><th>"+data.data[i].id+"</th><th>"+data.data[i].title+"</th><th>"+data.data[i].content+"</th><th>"+data.data[i].imgurl+"</th><th><a href='#' id='edit'>edit</a></th></tr>");}
	}).error(function () {
		alert("error");
       });
	
	
	$(document).ready(function(){
			$("#edit").click(function(){
				$("#edit-news").show();});
				});
</script>-->
</body>
</html>